<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [9]:
import pandas as pd

In [10]:
# Change the path to the dataset file if needed. 
PATH = 'C:/Users/ozinm/Desktop/kodluyoruz/git/assignment1-eda-emilytires/data/athlete_events.csv'

In [11]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [15]:
data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [18]:
year1992=data[data['Year']==1992]

In [24]:
female_age_1992=year1992[year1992['Sex']=='F']
female_age_1992['Age'].min()

12.0

In [23]:
male_age_1992=year1992[year1992['Sex']=='M']
male_age_1992['Age'].min()

11.0

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [30]:
male_2012=data[(data['Sex'] == 'M') & (data['Year'] == 2012) ]
male_2012['Name'].value_counts()

Oleh Yuriyovych Verniaiev              8
Koji Yamamuro                          8
Kim Su-Myeon                           8
Kristian James Thomas                  8
Flavius Koczi                          8
Emin Nadirovich Garibov                7
Artur Davtyan                          7
Daniel Scott Purvis                    7
Marcel Van Minh Phuc Long Nguyen       7
Danell Johan Leyva Gonzalez            7
Kohei Uchimura                         7
Matteo Morandi                         7
Fabian Hambchen                        7
John Orozco                            7
Guo Weiyang                            7
David Sagitovich Belyavsky             7
Michael Fred Phelps, II                7
Nikolay Yulyevich Kuksenkov            7
Javier Gmez Fuertes                    7
Cyril Tommasone                        7
Sergio Muoz Escribano                  7
Oleq Stepko                            7
Philipp Boy                            7
Mohamed Sherif El-Saharty              7
Kazuhito Tanaka                        7
Enrico Pozzo                           7
Fabin Gonzlez Vidal                    7
Paolo Ottavi                           7
Felix Aronovich                        6
akir xliyev                            6
                                      ..
Andreas Oliver Nilsson                 1
Omar Mahmud Sayyid Gaber               1
Matas Damin Vila                       1
Khasan Makharbekovich Baroyev          1
Eslam Muhammad "Milo" Ramadan Rashd    1
Mikel Odriozola Domnguez               1
Kim Oscar Amb                          1
Cdric Sorhaindo                        1
Kobe Bean Bryant                       1
Scott William Weltz                    1
Krisztin Pars                          1
Philippe Beaudry                       1
Brd Magnus Nesteng                     1
Ricardo Blas, Jr.                      1
Ventsislav Vasilev Aydarski            1
Christian Donfack Adjoufack            1
Adam Marek Korol                       1
David Kavelasvili                      1
Tagir Kamalutdinovich Khaybulayev      1
Peter Dale Varellas                    1
Li Guojie                              1
Curtis J. Moss                         1
Daniel Teklehaymanot Girmazion         1
Kevin Wesley Love                      1
Christopher Vlk                        1
Yenew Alamirew Getahun                 1
Ismail Moalla                          1
Martin Verner                          1
Musa Khozh-Akhmatovich Mogushkov       1
Liemarvin Bonevacia                    1
Name: Name, Length: 5858, dtype: int64

In [32]:
dataa=male_2012.drop_duplicates(subset ="Name", 
                     keep = False, inplace = False)
dataa['Name'].value_counts()

Juraj Tarr                            1
Virgil Soeroredjo                     1
Roman Novotn                          1
Marcin Mariusz Brzeziski              1
Robbert Huib Kemperman                1
Xavier Charles Ren Rohart             1
Vasyl Petrovych Fedoryshyn            1
Nabor Castillo Prez                   1
Francisco Romn "Isco" Alarcn Surez    1
Bjrn Otto                             1
Otar Tushishvili                      1
Michael Herrera Flores                1
Pedro Diogo Rosas Cardoso Fraga       1
Role Prezelj                          1
Andrey Viktorovich Zamkovoy           1
Adam Rutter                           1
Andrew Riley                          1
Emanuel Fernando Scheffler Rego       1
Rodrigo Daz                           1
Tong Weisong                          1
Ismail Ahmed Ismail                   1
Yavor Vasilev Khristov                1
Marouan Laghnej                       1
Timothy "Tim" Baillie                 1
Abderrazak Houya                      1
Anderson Chee Wei Lim                 1
Ivan Yuryevich Tukhtachov             1
Richard Schmidt                       1
Nguyn Tin Minh                        1
Ahmed Gebrel                          1
                                     ..
Noah Akwu                             1
Arnold Fabin Peralta Sosa             1
Spenser Thomas Mango                  1
Agustn Alejandro Mazzilli             1
Zohar Zemiro                          1
Andrs Antonio Ayub Valenzuela         1
Levi Heimans                          1
Mahmoud Al-Gharbi                     1
Ikechukwu Somtochukwu "Ike" Diogu     1
Marek Konwa                           1
Eduard Mihai Drguin                   1
Marcel Hacker                         1
Jonathan Hall                         1
Dion Christian Dreesens               1
tienne Lalonde-Turbide                1
Ronald Efrain Zabala Goetschel        1
Tarek Yahia Fu'ad Abdelazim           1
Dawid Tomala                          1
Andreas Kuffner                       1
Mohammad Ahsan                        1
Al-Farouq Ajiede Aminu                1
Joel Michael Redhead                  1
Leandro Damio da Silva dos Santos     1
Manueli Tulo                          1
Aleksey Alekseyevich Denisenko        1
Abel Mathas Hernndez Platero          1
Odd Arne Brekne                       1
David Goffin                          1
Bartosz Mariusz Piasecki              1
Liemarvin Bonevacia                   1
Name: Name, Length: 5011, dtype: int64

In [34]:
male_2012_basket=male_2012[male_2012['Sport']=='Basketball']

In [37]:
len(male_2012_basket)

144

In [38]:
len(male_2012)

7105

In [41]:
round(144/7105,2)

0.02

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [48]:
female_tennis_2000=data[(data['Sex'] == 'F') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000)]
print(round(female_tennis_2000['Height'].std(),1))
print(round(female_tennis_2000['Height'].mean(),1))

6.5
171.8

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [59]:
olympic_2006=data[data['Year']==2006]
b=olympic_2006.sort_values(by=['Weight'],ascending=False)
c=b.iloc[0,]
c

ID                           4476
Name            Patrick R. Antaki
Sex                             M
Age                            41
Height                        185
Weight                        127
Team                      Lebanon
NOC                           LIB
Games                 2006 Winter
Year                         2006
Season                     Winter
City                       Torino
Sport                    Skeleton
Event     Skeleton Men's Skeleton
Medal                         NaN
Name: 8102, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [75]:
JohnAalberg=data[data['Name']=='John Aalberg']
f=JohnAalberg.loc[:,['Name','Year']]
f.drop_duplicates()

            Name  Year
18  John Aalberg  1992
22  John Aalberg  1994

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [79]:
switz=data[(data['Year']==2008) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold')]
switz

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
34646,17857,Fabian Cancellara,M,27.0,186.0,81.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Cycling,Cycling Men's Individual Time Trial,Gold
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [92]:
data2016=data[data['Year']==2016]
data2016_spain=data2016[data2016['Team']=='Spain']
data2016_italy=data2016[data2016['Team']=='Italy']

x=data2016_italy.dropna(subset=['Medal'])
y=data2016_spain.dropna(subset=['Medal'])

len(y)<len(x)

True

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [103]:
data2008=data[data['Year']==2008]

data2008['age_bracket']= data2008[['Age']].apply(lambda x:'[10-15)' if x[0] >= 10.0  and x[0] < 15.0 
                                        else ('[15-25)' if x[0] >= 15.0 and x[0] < 25.0 
                                        else ('[25-35)' if x[0] >= 25.0 and x[0] < 35.0 
                                        else ('[35-45)' if x[0] >= 35.0 and x[0] < 45.0 
                                        else ('[45-55]' if x[0] >= 45.0 and x[0] <= 55.0 
                                        else ('[56-65)' if x[0] >= 56.0 and x[0] < 65.0 else '[65+]'))))), axis=1)
data2008.groupby('age_bracket').count()

C:\Users\ozinm\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
age_bracket,,,,,,,,,,,,,,,
[10-15),17,17,17,17,15,15,17,17,17,17,17,17,17,17,0
[15-25),6294,6294,6294,6294,6202,6194,6294,6294,6294,6294,6294,6294,6294,6294,881
[25-35),6367,6367,6367,6367,6320,6324,6367,6367,6367,6367,6367,6367,6367,6367,1042
[35-45),790,790,790,790,780,778,790,790,790,790,790,790,790,790,108
[45-55],119,119,119,119,119,117,119,119,119,119,119,119,119,119,16
[56-65),11,11,11,11,11,11,11,11,11,11,11,11,11,11,1
[65+],4,4,4,2,4,4,4,4,4,4,4,4,4,4,0

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [107]:
h=data[data['Season']=='Summer']
h['City'].value_counts()

London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Beijing           13602
Barcelona         12977
Los Angeles       12423
Seoul             12037
Munich            10304
Montreal           8641
Mexico City        8588
Helsinki           8270
Roma               8119
Tokyo              7702
Moskva             7191
Paris              7169
Berlin             6506
Amsterdam          4992
Melbourne          4829
Stockholm          4338
Antwerpen          4292
St. Louis          1301
Name: City, dtype: int64

In [108]:
k=data[data['Season']=='Winter']
k['City'].value_counts()

Sochi                     4891
Vancouver                 4402
Torino                    4382
Salt Lake City            4109
Innsbruck                 3639
Nagano                    3605
Albertville               3436
Lillehammer               3160
Calgary                   2639
Sarajevo                  2134
Lake Placid               2098
Grenoble                  1891
Sankt Moritz              1657
Sapporo                   1655
Cortina d'Ampezzo         1307
Squaw Valley              1116
Oslo                      1088
Garmisch-Partenkirchen     895
Chamonix                   460
Name: City, dtype: int64

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [123]:
data1996=data[data['Year']==1996]
data2002=data[data['Year']==2002]
print(len(data1996['Sport'].unique()))
print(len(data2002['Sport'].unique()))

31-15

31
15

16

That's it! Now go and do 30 push-ups! :)